﻿@using SportNet.Core.Application.ViewModels.Users;
@model SaveUserViewModel;
@{
    Layout = null;
    ViewData["Title"] = "Login Page";
}
<h1>
    Usuario Activado, vuelva al login
    <a asp-controller="User" asp-action="Index" class="text-white-50 fw-bold">Vuelva al Loginx</a>
</h1>